@import "tailwindcss";

@theme {
  --color-background: #0F0F11;
  --color-foreground: #F7F7F7;
  --color-primary: #7668E7;
  --color-secondary: #110941;
}

@layer base {
  :root {
    --background: #0F0F11;
    --foreground: #F7F7F7;
    --primary: #7668E7;
    --secondary: #110941;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-kanit), var(--font-open-sans), sans-serif;
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: var(--primary);
    color: var(--foreground);
  }
}
